    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    html {
        font-size: 10px;
        font-family: 'Sarabun', sans-serif;
        --menu-height: 10vh;
    }

    ul {
        list-style: none;
    }

    a {
        display: block;
        text-decoration: none;
        color: black;
    }

    button {
        cursor: pointer;
    }



    @media (min-width:320px) {

        /* MENU */
        section.menu {
            position: fixed;
            padding: 10px;
            width: 100vw;
            background-color: rgba(248, 248, 251, 0.8);
            z-index: 2;
        }

        section.menu p {
            /*Cahee logo*/
            width: 35%;
            font-family: 'Lobster', cursive;
            font-size: 40px;
            line-height: 10vh;
        }

        .hamburger-menu {
            /*div with hamburger*/
            font-size: 20px;
            line-height: auto;
            height: 100%;
        }

        .fas {
            /*icons of hamburger*/
            position: absolute;
            top: 50%;
            right: 10%;
            transform: translate(-50%, -50%);
            display: none;
        }

        .show {
            /*class to show icons*/
            display: block;
        }

        /* HEADER */
        header {
            background-image: url(img/header/header-small-img.png);
            background-repeat: no-repeat;
            background-position: 55%;
            background-size: cover;
            position: relative;
            height: 100vh;
            width: 100vw;
        }

        .fresh-life {
            /*div with first text in header*/
            text-align: left;
            margin-left: 20px;
            position: absolute;
            top: 30%;
            left: 0;
            width: 40%;
        }

        .fresh-life h1 {
            font-size: 2.8rem;
        }

        .fresh-life p {
            margin: 10px 0 10px;
            font-size: 1.4rem;
            line-height: 4vh;
        }

        .fresh-life button {
            text-transform: uppercase;
            display: block;
            border-style: none;
            padding: 10px;
            margin: 25px 0;
            box-shadow: 2px 2px 10px #333;
            background-color: #FE6033;
            font-size: 1.2rem;
            color: #fff;
        }

        /* NAVIGATION */
        nav {
            top: -100%;
            left: 0;
            height: auto;
            width: 100vw;
            position: fixed;
            background-color: rgba(248, 248, 251);
            transition: .6s linear;
        }

        nav ul {
            text-align: center;
            font-size: 20px;
            color: #000;
        }

        nav ul li {
            line-height: 10vh;
        }

        nav ul li a {
            position: relative;
        }

        nav ul li a::before {
            content: '';
            position: absolute;
            display: block;
            width: 0px;
            height: 3px;
            left: 0;
            background: rgb(255, 96, 50);
            transition: width .3s ease;
        }

        nav ul li a:hover::before {
            width: 100%;
            left: 100;
            background: rgb(255, 96, 50);
        }

        .navShow {
            /*class to show navigation*/
            top: 10%;
        }

        /* ABOUT US */

        .about-us {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #00B1B1;
            width: 100vw;
            min-height: 100vh;
            padding: 20px 0;
        }

        .about-us img {
            width: 80%;
        }

        .as-text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .about-us h1,
        .about-us p {
            text-align: center;
            color: #fff;
        }

        .about-us h1 {
            font-size: 4rem;
            margin-top: 15px;
        }

        .about-us p {
            width: 80%;
            font-size: 1.5rem;
            margin: 30px;
        }

        /* OUR SERVICES */

        .our-services {
            display: flex;
            flex-direction: column-reverse;
            background-color: #70C0FF;
            width: 100vw;
            min-height: 100vh;
        }

        .services-right-side {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin: 30px 0;
        }

        .services-right-side h1 {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 4rem;
            color: #fff
        }

        .services-right-side img {
            width: 90%;
        }

        .services-left-side {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .services-left-side ul {
            height: 70vh;
            width: 80vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        .services-left-side li {
            display: block;
            width: 100%;
        }

        .services-left-side ul li a {
            display: flex;
            align-items: center;
            background-color: #fff;
            border: #000 1px solid;
            padding: 12px;
            text-align: center;
            font-size: 1.5rem;
        }

        .services-left-side ul li a p {
            width: 100%;
        }

        .services-left-side ul li a img {
            border-left: 0.2px solid;
            border-left-color: rgba(0, 0, 0, 0.90);
            margin-left: 10px;
            padding-left: 10px;
        }

        /* GALLERY */
        .gallery {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            min-height: 100vh;
            text-align: center;
            background-color: #FEE92E;
        }

        .gallery h1 {
            margin: 15px;
            font-size: 4rem;
        }

        .gallery p {
            font-size: 1.3rem;
            width: 80%
        }

        .gallery img {
            width: 80%;
            margin-top: 20px;
        }

        .gallery img:nth-of-type(6),
        .gallery img:nth-of-type(7) {
            display: none;
        }

        .gallery button {
            margin: 30px 20px;
            text-transform: uppercase;
            display: block;
            border-style: none;
            padding: 10px 25px;
            box-shadow: 2px 2px 10px #333;
            background-color: #5685A3;
            font-size: 1.2rem;
            color: #fff;
        }

        /* SUBSCRIBE */
        .subscribe {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            width: 100vw;
            background-image: url(img/subscribe/bgc-subscribe-small.png);
            background-repeat: no-repeat;
            background-position: 70%, center;
            text-align: center;
            margin: 25px auto;
        }

        .subscribe h1 {
            margin: 25px;
            font-size: 3.5rem;
        }

        .subscribe p {
            width: 80%;
            font-size: 1.5rem;
            margin: 0px auto 35px;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-group input[type=email] {
            font-family: 'Sarabun', sans-serif;
            border: 1px solid #000;
            padding: 5px;
            width: 70%;
            margin-bottom: 25px;
        }

        .form-group input[type=submit] {
            padding: 10px 35px;
            border-style: none;
            text-transform: uppercase;
            color: #fff;
            background-color: #97BA2C;
        }

        /* BLOG */

        .blog {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            background-color: #B07CF8;
            color: #fff;
            min-height: 70vh;
        }

        .blog h1 {
            margin: 20px;
            font-size: 3.5rem;
        }

        .blog p {
            text-align: center;
            font-size: 1.5rem;
            margin: 15px;
            width: 80%;
        }


        .blog-images div a {
            display: block;
            color: #fff;
            position: relative;
            text-align: left;
            width: 80%;
            margin: 15px auto;
        }

        .img-container {
            height: 100%;
            width: 100%;
        }

        .img-container::after {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(10, 9, 9, 1) 100%);
        }

        .blog-images div a .img-container>img {
            display: block;
            /* margin: 0 auto; */
            width: 100%;
            height: 100%;
        }

        .blog-images div a h2,
        h3 {
            position: absolute;
        }

        .blog-images div a h2:nth-of-type(1) {
            display: block;
            top: 15%;
            left: 7%;
            text-transform: uppercase;
            font-size: 2rem;
            padding: 5px;
            line-height: 100%;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 10%;
            width: 25%;
        }

        .blog-images div a h2:nth-of-type(2) {
            top: 60%;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            font-size: 1.8rem;
        }

        .blog-images div a h3 {
            top: 80%;
            left: 50%;
            width: 80%;
            transform: translateX(-50%);
        }

        .blog-view-more {
            margin: 25px auto;
            padding: 10px 25px;
            background-color: #F82B3C;
            color: #fff;
            border-style: none;
            text-transform: uppercase;
            box-shadow: 2px 2px 10px #333;
            font-size: 1.2rem;
        }

        /* CONTACT */
        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            min-height: 100vh;
            width: 100vw;
            text-align: center;
            background-image: url(img/contact/contact-bgc.png);
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 1.5rem;
        }

        .contact p {
            margin: 0 auto 5vh;
            width: 80%;
        }

        .contact h1 {
            margin: 5vh auto 5vh;
            font-size: 4rem;
        }

        .contact-inputs {
            width: 80%;
            margin: 0 auto;
        }

        .contact-inputs input {
            height: 7vh;
        }

        .contact-inputs input,
        .contact-inputs textarea {
            width: 85%;
            margin-top: 5vh;
            padding: 20px 20px;
            border-style: none;
            font-family: 'Sarabun', sans-serif;
            background-color: rgba(0, 196, 195, 0.6);
            resize: none;
            border-left: 0px solid #355B82;
            transition: .4s;
        }

        .contact-inputs input::placeholder,
        textarea::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }

        .contact-inputs input:focus {
            border-left: 6px solid #355B82;
        }

        .contact-inputs input:focus,
        .contact-inputs textarea:focus,
        .contact-inputs input:focus::placeholder,
        .contact-inputs textarea:focus::placeholder {
            background-color: rgba(0, 196, 195, 1);
            color: rgba(255, 255, 255, 1);
            font-weight: 700;
        }

        .contact-address {
            margin: 5vh auto;
        }

        .contact-address span {
            font-weight: 700;
        }

        /* FOOTER */
        footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #262626;
            color: #b9b9b9;
            font-size: 1.5rem;
        }

        footer li {
            margin: 2vh auto;
            text-align: center;
        }

        footer li:nth-of-type(2) {
            font-family: 'Lobster', cursive;
            font-size: 2.5rem;
        }

        footer li:nth-of-type(3) span {
            color: #FF2C55;
            font-weight: 700;
        }
    }

    @media (max-width: 700px) and (orientation: landscape) {

        /* MENU & NAVIGATION */
        section.menu {
            min-height: 15vh;
        }

        section.menu p {
            /*Cahee logo*/
            line-height: 15vh;
            font-size: 30px;
        }

        nav {
            top: -90%;
        }

        nav ul li {
            line-height: 13vh;

        }

        .navShow {
            /*class to show navigation*/
            top: 20vh;
        }

        /* HEADER */
        .fresh-life h1 {
            font-size: 3rem;
        }

        .fresh-life p {
            font-size: 1.3rem;
            line-height: 6vh;
        }

        .fresh-life button {
            font-size: 1rem;
        }

        /* ABOUT US */

        .about-us img {
            width: 60%;
            padding-right: 0;
            display: block;
            margin: 0 auto;
        }

        .about-us h1 {
            font-size: 3rem;
            margin-top: 10px;
        }

        .about-us p {
            font-size: 1.3rem;
            margin: 30px;
        }

        /* OUR SERVICES */
        .services-right-side h1 {
            font-size: 3rem;
        }

        .services-right-side img {
            width: 70%;
        }

        .services-left-side ul {
            min-height: 150vh;
            width: 60vw;
            margin-bottom: 35px;
        }

        /* GALLERY */
        .gallery h1 {
            margin: 25px;
            font-size: 3rem;
        }

        .gallery img {
            width: 65%;
            margin-top: 25px;
        }

        /* SUBSCRIBE */
        .subscribe {
            background-position-y: 80%;
        }

        .subscribe h1 {
            font-size: 3rem;
        }

        .subscribe p {
            font-size: 1.3rem;
        }

        /* BLOG */
        .blog h1 {
            font-size: 3rem;
        }

        .blog p {
            width: 70%;
            font-size: 1.3rem;
        }

        .blog-view-more {
            font-size: 1.1rem;
        }

        /* CONTACT */
        .contact h1 {
            font-size: 3rem;
        }

        .contact-inputs {
            width: 70%;
        }

        /* FOOTER */
        footer {
            font-size: 1.3rem;
        }

        footer li {
            margin: 3vh auto;
        }

        footer li:nth-of-type(2) {
            font-family: 'Lobster', cursive;
            font-size: 2.1rem;
        }

        footer li:nth-of-type(3) span {
            color: #FF2C55;
            font-weight: 700;
        }
    }

    @media (min-width: 600px) {

        header {
            background-image: url(img/header/header_img.png);
            background-position: 55%;
            background-size: cover;
            position: relative;

        }

        /* OUR SERVICES */
        .services-right-side img {
            width: 70%;
        }

        .services-left-side ul {
            width: 60vw;
        }

        /* GALLERY */
        .gallery img {
            width: 65%;
        }
    }


    @media (min-width: 768px) {

        /* MENU */
        section.menu {
            background-color: rgba(248, 248, 251, 1);
        }

        section.menu p {
            line-height: 8vh;
            margin-left: 10px;
            z-index: 2;
            position: relative;
        }

        .hamburger-menu {
            /*div with hamburger*/
            display: none;
        }

        /* NAVIGATION */
        nav {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        nav ul {
            display: flex;
            justify-content: space-around;
            width: 60%;
            line-height: 10vh;
        }

        nav ul li {
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 5vh;
        }

        /* HEADER */
        .fresh-life h1 {
            font-size: 5rem;
        }

        .fresh-life p {
            font-size: 1.8rem;
        }

        /* ABOUT US */

        .about-us {
            flex-direction: row;
            align-items: center;
            width: 100vw;
            min-height: 40vh;
        }

        .about-us img {
            width: 100%;
        }

        .as-text-container {
            flex-shrink: 1.5;
        }

        .about-us h1,
        .about-us p {
            width: 80%;
            text-align: left;
        }

        .about-us h1 {
            font-size: 5rem;
        }

        .about-us p {
            width: 80%;
            font-size: 1.8rem;
            margin: 30px;
        }

        /* OUR SERVICES */
        .our-services {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            min-height: 40vh;
        }

        .services-right-side {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .services-right-side img {
            width: 80%;
        }

        .services-right-side h1 {
            font-size: 6.5rem;
        }

        .services-left-side {
            justify-content: center;
        }

        .services-left-side ul {
            width: 90%;
            height: 70vh;
            justify-content: center;
            margin-left: 25px;
        }

        .services-left-side li {
            margin-bottom: 25px;
        }

        /* GALLERY */
        .gallery h1 {
            font-size: 5rem;
        }

        .gallery p {
            font-size: 1.8rem;
            width: 70%;
            margin-bottom: 30px;
        }

        .gallery img {
            width: 100%;
            margin-top: 0px;
        }

        .gallery-images {
            width: 90%;
            display: grid;
            grid-gap: 15px;
            grid-auto-rows: minmax(10px, auto);
            grid-template-columns: repeat(3, 1fr);
            grid-auto-flow: dense;
        }

        .gallery-images img:nth-of-type(1) {
            grid-column: 1 / 3;
            grid-row: 1 / 2;

        }

        .gallery-images img:nth-of-type(2) {
            grid-column: 3 / 3;
            grid-row: 1 / 2;
        }

        .gallery-images img:nth-of-type(3) {
            grid-column: 3 / 3;
            grid-row: 1 / 2;
            align-self: end;
        }

        .gallery-images img:nth-of-type(4) {
            grid-column: 1 / 2;
            grid-row: 2 / 2;
            /* object-fit: cover; */
            width: 150%;
        }

        .gallery-images img:nth-of-type(5) {
            grid-column: 3 / 4;
            grid-row: 2 / 2;
            width: 150%;
            justify-self: end;
        }

        .gallery img:nth-of-type(6) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            width: 150%;
        }

        .gallery img:nth-of-type(7) {
            grid-column: 3 / 4;
            grid-row: 3 / 4;
            width: 150%;
            justify-self: end;
        }

        /* SUBSCRIBE */
        .subscribe {
            min-height: 40vh;
            background-position-x: 100%;
            background-position-y: 15%;
            align-items: flex-start;
            text-align: left;
        }

        .subscribe p {
            width: 60%;
            margin: 0px 25px;
        }

        .form-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 80%;
        }

        .form-group input[type=email] {
            margin: 25px;
        }

        /* BLOG */
        .blog-images {
            display: flex;
            justify-content: space-around;
            justify-content: center;
            flex-wrap: wrap;
        }

        .img-container {
            height: 100%;
            width: 100%;
        }

        .img-container::after {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(10, 9, 9, 1) 100%);
        }

        .blog-images div a .img-container>img {
            display: block;
            /* margin: 0 auto; */
            width: 100%;
            height: 100%;
        }

        .blog-images div a h2,
        h3 {
            position: absolute;
        }

        .blog-images div a h2:nth-of-type(1) {
            display: block;
            top: 15%;
            left: 7%;
            text-transform: uppercase;
            font-size: 2rem;
            padding: 5px;
            line-height: 100%;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 10%;
            width: 25%;
        }

        .blog-images div a h2:nth-of-type(2) {
            top: 60%;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            font-size: 1.8rem;
        }

        .blog-images div a h3 {
            top: 80%;
            left: 50%;
            width: 80%;
            transform: translateX(-50%);
        }

        .blog-view-more {
            margin: 25px auto;
            padding: 10px 25px;
            background-color: #F82B3C;
            color: #fff;
            border-style: none;
            text-transform: uppercase;
            box-shadow: 2px 2px 10px #333;
            font-size: 1.2rem;
        }
    }

    @media (min-width: 1024px) {

        /* ABOUT US */
        .about-us h1 {
            font-size: 6rem;
        }

        .about-us p {
            font-size: 2rem;
        }

        /* OUR SERVICES */
        .our-services {
            min-height: 30vh;
        }

        .services-right-side img {
            width: 100%;
        }

        .services-right-side h1 {
            font-size: 8rem;
        }

        .services-left-side ul {
            width: 100%;
            margin-left: 0;
        }

        /* GALLERY */
        .gallery h1 {
            font-size: 6rem;
        }

        .gallery p {
            font-size: 2rem;
        }

        /* SUBSCRIBE */
        .subscribe {
            background-image: url(img/subscribe/bgc-subscribe-big.png);
            min-height: 40vh;
            background-position-y: 20%;
            background-position-x: 20%;
        }

        .subscribe h1 {
            font-size: 5rem;
        }

        .subscribe p {
            font-size: 2rem;
        }

        /* BLOG */
        .blog h1 {
            font-size: 6rem;
        }

        .blog p {
            font-size: 2rem;
        }

        /* CONTACT */

        .contact {
            min-height: 70vh;
        }

        .contact h1 {
            font-size: 6rem;
            margin-top: 5vh;
        }

        .contact p {
            font-size: 2rem;
            width: 50%;
            margin: 0;
        }

        .contact-data {
            display: flex;
            justify-content: space-around;
            /* align-items: center; */
        }

        .contact-inputs {
            width: 60%;
        }

        .contact-inputs input {
            height: 5vh;
        }

        .contact-inputs textarea {
            margin-bottom: 5vh;
        }

        .contact-address {
            text-align: left;
        }

        .contact-address p {
            width: 100%;
            margin-bottom: 1vh;
        }
    }